@import url('https://fonts.googleapis.com/css2?family=Michroma&family=Noto+Sans:wght@100&family=Philosopher&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=Michroma&family=Noto+Sans:wght@100&family=Philosopher&family=Text+Me+One&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Philosopher', sans-serif;
}

#winee_specials {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 100px 0;

    // @media (max-width:400px) {
    //     display: flex;
    //     flex-direction: column;
    // }

    #img_container {
        width: 485px;
        height: 640px;
        padding: 20px 0;

        img {
            width: 485px;
            height: 600px;
            object-fit: cover;
        }
    }

    #special_wines {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        #header_info {
            font-size: 40px;
            font-weight: lighter;
        }

        .spec_info_container {
            width: 535px;
            height: 97px;
            display: flex;
            gap: 30px;

            img {
                width: 68px;
                height: 99px;
            }

            #barrel_icon {
                width: 68px;
                height: 84px;
            }

            .spec_info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;

                p,
                h1 {
                    width: 450px;
                    height: auto;
                }

                h1 {
                    font-size: 22px;
                    font-weight: 600;
                    transition: .3s ease-in-out;
                    cursor: pointer;

                    &:hover {
                        color: #c1001c;
                    }
                }

                p {
                    line-height: 28px;
                    padding-top: 20px;
                    font-family: 'Text Me One', sans-serif;
                }
            }
        }
    }
}

#banner {
   

    #sale_banner {

        width: 100%;
        height: 450px;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        #img_overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background-color: #341210d8;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 100px 0;


            #nbc {
                color: white;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 5px;
            }

            h1 {
                color: white;
                font-size: 55px;
                font-family: 'Philosopher', sans-serif;
                letter-spacing: 8px;
                font-weight: 500;
            }

            #sales {
                color: white;
                font-size: 40px;
                font-weight: 300;
            }

            button {
                width: 130px;
                height: 45px;
                border-color: transparent;
                color: black;
                transition: .3s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #c19450;
                    color: white;
                }
            }
            @media (max-width:393px) {
                width: 100% !important;
            }
        }
    }

    #new_arrivals {
        width: 100%;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 60px 0;

        h1 {
            font-size: 44px;
            font-weight: 500;
        }

        p {
            width: 540px;
            height: auto;
            text-align: center;
            padding-bottom: 20px;
        }

        button {
            padding: 15px 25px;
            border: 1px solid rgba(158, 152, 152, 0.322);
            background-color: white;
            transition: .3s ease-in-out;
            font-family: 'Philosopher', sans-serif;
            font-size: 15px;
            cursor: pointer;

            &:hover {
                background-color: #c59137;
                color: white;
                border-color: transparent;
            }
        }
    }

}

#wine_cards {
    display: flex;
    justify-content: center;
    gap: 50px;

    .card {
        width: 230px;
        height: 510px;
        overflow: hidden;

        &:nth-child(1) {
            .images {
                background-image: url(../img/pdt2.webp);

                &:hover {
                    background-image: url(../img/o1.webp);
                }
            }
        }

        &:nth-child(2) {
            .images {
                background-image: url(../img/pdt1.webp);

                &:hover {
                    background-image: url(../img/o2.webp);
                }
            }
        }

        &:nth-child(3) {
            .images {
                background-image: url(../img/pdt3.webp);

                &:hover {
                    background-image: url(../img/o3.webp);
                }
            }
        }

        &:nth-child(4) {
            .images {
                background-image: url(../img/pdt4.webp);

                &:hover {
                    background-image: url(../img/o4.webp);
                }
            }
        }

        .images {
            width: 230px;
            height: 307px;
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
            background-size: cover;
            transition: .4s ease-in-out;

            &:hover {
                .img_overlay_card {
                    background-color: rgba(0, 0, 0, 0.300);

                    button {
                        opacity: 1;
                        transform: translateX(-20px);
                    }
                }
            }

            .img_overlay_card {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-end;
                gap: 10px;
                transition: .4s ease-in-out;

                button {
                    width: 40px;
                    height: 40px;
                    border-color: transparent;
                    background-color: white;
                    cursor: pointer;
                    transition: .2s ease-in-out;
                    opacity: 0;

                    i {
                        color: #c1001c;
                    }

                    &:hover {
                        background-color: #c1001c;

                        i {
                            color: white;
                        }
                    }
                }
            }
        }

        .footer_items {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0 30px;

            span {
                padding: 20px 0;
                cursor: pointer;
                transition: .3s ease-in-out;
                position: relative;

                &:hover {
                    color: #c1001c;
                }

                &::after {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    transform: rotate(45deg);
                    background-color: black;
                    top: 53px;
                    left: 59px;
                    margin: 0 auto;
                }
            }

            p {
                height: 60px;
                width: 100%;
                line-height: 60px;
                text-align: center;
                border-top: 1px solid rgba(128, 128, 128, 0.331);
                color: #c1001c;
                font-size: 20px;
            }

            button {
                width: 100%;
                height: 50px;
                background-color: white;
                border: 1px solid rgba(0, 0, 0, 0.132);
                font-size: 16px;
                font-family: 'Philosopher', sans-serif;
                transition: .2s ease-in-out;
                cursor: pointer;

                &:hover {
                    background-color: #c59137ce;
                    color: white;
                }

                i {
                    font-size: 12px;
                    padding-right: 5px;
                }
            }
        }
    }
}

#our_gallery {
    #gallery_info {
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 100px;

        h1 {
            font-size: 44px;
            font-weight: 500;
            margin-bottom: 20px;
        }

        p {
            width: 600px;
            height: auto;
            text-align: center;
            letter-spacing: 1px;
        }
    }

    .gallery_items {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .gallery_card {
            width: 25%;
            height: 300px;
            overflow: hidden;
            position: relative;

            &:hover {
                .gallery_img_overlay {
                    opacity: 1;
                }
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .gallery_img_overlay {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background-color: #c1001de0;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 25px;
                transition: .4s ease-in-out;
                opacity: 0;

                span {
                    color: white;
                    font-size: 30px;
                }

                p {
                    color: white;
                }

                button {
                    padding: 12px 30px;
                    border-color: transparent;
                    cursor: pointer;
                    font-family: 'Philosopher', sans-serif;
                    font-size: 15px;
                    transition: .3s ease-in-out;

                    &:hover {
                        background-color: #c59137;
                        color: white;
                    }
                }
            }
        }
    }
}